body{
    background: antiquewhite;
}

.header{
    position: sticky;
    top:0;
    display: block; 
    padding: 10px 0;
    background: antiquewhite;
    text-align: left;
    padding-left:10px ;
  }
.header a{
    display: inline-block;
    font-size: 25px;    
    font-family:  sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: normal bold;
    font-weight: 300 500;
    color: #34325b;
    padding:0;
}
.header a:hover{
    text-decoration: none;
    color: #34325b;
}

.header{
    top: 0;
    left: 0;
}
.root{
    padding-left: 5%;
    padding-right: 5%;
}