.App {
  background-color: white;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.userType{
  font-size: 20px;
  width: 100%;
  font-weight: 600;
  height: 35px;
  background-color:burlywood;
  color:burlywood;
  cursor: none;
  text-align: left;
  background-color: white;
}


.dashboard{
  width: 100%;  
}
.dashboard img{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
}